h1{
    color: blue;
    border: 5px solid black;
    border-radius: 25px;
    text-align: center;
    background-color: rgb(190, 138, 138);
}
img{
    shape-image-threshold: calc(100px);
    float: right;
}
input{
    color: black;
    text-align: justify;
    font-size: 25px;
    
    
}


